.Big-text {
	text-align: center;
	font-size: 50px;
}

.box {
	width: calc(95% - 20px);
	margin-left: 2.5%;
	font-size: 25px;
	background-color: #EDF0F3;
	border-radius: 10px;
	padding: 0 10px 0 10px;
}

.GoogleMaps {
	border-radius: 7px;
	width: 80%;
	margin-bottom: 40px;
	margin-left: 10px;
}