body {
    background-color: #34495E;
    color: white;
    display: table;
}

.outer-box {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.box {
    width: 700px;
    margin: auto;
}

.box button {
    margin: 6px 2px 0 0;
    padding: 6px;
    border-radius: 3px;
    border-color: white;
    background-color: #34495E;
    color: white;
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
}

.box .active {
    background-color: white;
    color: #34495E;
}

.box button:hover {
    border-color: #1a1b1e;
    cursor: pointer;
}

.box img{
    float: right;
    width: 150px;
    transform:translate(0, -30px);
}