html, body {
	margin: 0;
}

#top-bar {
	background-color: black;
	overflow: hidden;
}

#top-bar a {
	padding: 10px 15px;
	font-size: 17px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: white
}

#top-bar a:hover {
	background-color: white;
	color:black;
}

#top-bar a.active {
	background-color: darkslategrey;
	color:white;
}