.pizzaWrapper {
    height: calc(100% - 55px);
    width: 100%;
    vertical-align: middle;
    margin-top: 20px;
    margin: 0;
    padding-top: 15px;
}

.pizzalist {
    padding: 0;
    list-style: none;
    font-size: 17px;
    margin: auto;
    width: 1000px;
}

.pizzalist li {
    display: block;
    float: left;
    margin: 5px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    border-color: #929292;
    border-width: 2px;
}

.pizzalist img {
    width: 250px;
    height: 110px;
    display: block;
    margin-bottom: 5px;
    object-fit: cover;
}

.pizzalist h3 {
    line-height: 0px;
}

.pizzalist .word-limit {
    float: right;
    margin-right: 75px;
    margin-top: 2px;
    color: #31821b;
}

.pizzalist input[type=checkbox] {
    width: 17px;
    height: 17px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    line-height:1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border-radius: 2px;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.pizzalist input[class=Liten]:before {
    content: 'L';
}
.pizzalist input[class=Medium]:before {
    content: 'M';
}
.pizzalist input[class=Stor]:before {
    content: 'S';
}
  
.pizzalist input[type="checkbox"]:checked {
    color: white;
    background-color: #E8022C;
    border-color: transparent;
}

.pizzalist button {
    background-color: #E8022C;
    color: white;
    border-style: solid;
    border-color: #E8022C;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 14px;
    box-shadow: 1px 2px 3px #888888;
    padding: 3px;
}

.pizzalist button:hover {
    box-shadow: none;
    cursor: pointer;
}