.orderbutton {
    position: absolute;
    top: 50px;
    right: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 2px;
    background-color: #E8022C;
    color: white;
    font-size: 15px;
}

#cookie {
    position: fixed;
    background-color: lightblue;
    width: 500px;
    height: 60px;
    padding: 7px;
    bottom: 40px;
    margin-left: 10%;
    border-radius: 5px;
}