/*For the small spot at the bottom*/
body {
	background-color: black;
}

.banner img {
	width: 100%;
}

.banner h1 {
	font-size: 7vw;
	text-shadow: -1px -1px 0 #FFFF, 1px -1px 0 #FFFF, -1px 1px 0 #FFFF, 1px 1px 0 #FFFF;
	color: darkslategrey;
	position: absolute;
	width: 100%;
	top: 10vw;
	text-align: center;
}

.banner h3 {
	font-size: 3vw;
	text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
	color: white;
	position: absolute;
	width: 100%;
	top: 20vw;
	text-align: center;
}