html, body {
	margin: 0;
}

#top-bar {
	background-color: black;
	overflow: hidden;
}

#top-bar a {
	padding: 10px 15px;
	font-size: 17px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: white
}

#top-bar a:hover {
	background-color: white;
	color:black;
}

#top-bar a.active {
	background-color: darkslategrey;
	color:white;
}

.pizzalist {
    padding: 0;
    list-style: none;
}

.pizzalist li {
    display: block;
    float: left;
    margin: 5px;
}

.pizzalist img {
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 5px;
}

.orderbutton {
    position: absolute;
    top: 10px;
    right: 10px;
}

#orderlist {
    padding: 0;
    list-style: none;
    float: right;
}

#orderlist li {
    display: block;
    float: up;
    margin: 5px;
    max-width: 150px;
    border-style: solid;
    border-color: Black;
    border-width: 2px;
    padding: 5px;
}

#cookie {
    position: fixed;
    background-color: lightblue;
    width: 500px;
    height: 50px;
    padding: 7px;
    bottom: 40px;
    margin-left: 10%;
    border-radius: 5px;
}