.banner img {
	width: 100%;
}

.banner h1 {
	font-size: 7vw;
	text-shadow: -1px -1px 0 #FFFF, 1px -1px 0 #FFFF, -1px 1px 0 #FFFF, 1px 1px 0 #FFFF;
	color: darkslategrey;
	position: absolute;
	width: 100%;
	top: 10vw;
	text-align: center;
}

.banner h3 {
	font-size: 3vw;
	text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
	color: white;
	position: absolute;
	width: 100%;
	top: 20vw;
	text-align: center;
}

#phone-menu {
	display: none;
	font-size: 50px;
	text-align: center;
}
#phone-menu a {
	background-color: red;
	color: white;
	display: block;
	margin: 20px;
	padding: 40px;
	border-radius: 20px;
	text-decoration: none;
}

#phone-menu img {
	height: 75px;
	vertical-align: middle;
	padding-right: 40px;
}

#github {
	position: absolute;
	top: 0;
	right: 0;
	filter: brightness(100);
	width: 25px;
	margin: 7px;
}